# make sure to add your own values here to this file, it will be left blank whilst it is being worked on, in order to keep sensitive information safe.
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_IDS=your_discord_server_id_here